<div id="navbarweb">
    <div class="bar">
        <div class='barr'>
            <a href="#" id="anav">TRANG CHỦ</a>
            <a href="#" routerLink="/soi-keo">SOI KÈO</a>
            <a href="#" routerLink="/bxh">BXH</a>    
            <a href="#" routerLink="/ket-qua">KẾT QUẢ</a> 
            <a href="#" routerLink="/lich-thi-dau">LỊCH THI ĐẤU</a>
            <a href="#" routerLink="/ty-le">TỶ LỆ</a>
            <a href="#" routerLink="/livescore">LIVESCORE</a>   
            <a href="#" routerLink="/highlight">HIGHLIGHT</a>
            <a href="#" routerLink="/tin-tuc">TIN TỨC</a>   
            <a href="#" routerLink="/gioi-thieu">GIỚI THIỆU</a>
            <a href="#" routerLink="/dang-ky">ĐĂNG KÝ</a>   
        </div>      
    </div>

    <div class="bar3">
        <div class="bars">            
            <a href="https://www.jun82.com/?uagt=bongda88&path=signup" id="aimg"><img src="assets/button1.gif"></a>  
            <a href="https://www.7897890.vip/?uagt=bongda88&path=signup"><img src="assets/button2.gif"></a>
            <a href="https://chuyendongsanco.net"><img src="assets/button3.gif"></a>
            <a href="https://chuyendongsanco.net"><img src="assets/button4.gif"></a>
        </div>
    </div>

    <div class="bars2">
        <a href="#"><img src="/assets/logo.png" id="imglg"></a>
    </div>
</div>
    
    





<div id="navbarmobile">
    <div class="hbar" > 
        <div (click)="showDiv.previous = !showDiv.previous;" style="margin-left: 89%;background: url('/assets/download.svg') no-repeat center center; width: 40px;height: 40px;"></div>
    </div>
    <div class="hbar" style="height: auto;" *ngIf="showDiv.previous">
        <div style="display: flex;flex-wrap: wrap;">
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#">TRANG CHỦ</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/livescore">LIVESCORE</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/soi-keo">SOI KÈO</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/highlight">HIGHLIGHT</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/bxh">BXH</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/tin-tuc">TIN TỨC</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/ket-qua">KẾT QUẢ</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/gioi-thieu">GIỚI THIỆU</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/lich-thi-dau">LỊCH THI ĐẤU</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/dang-ky">ĐĂNG KÝ</a></div>
            <div style="width: 50%; text-align: center;margin-top: 20px"><a href="#" routerLink="/ty-le">TỶ LỆ</a></div>        
        </div>
        <div style="display: flex;flex-wrap: wrap;background-color: rgba(255, 255, 255, 0.7);margin-top: 20px">
            <div style="width: 50%; text-align: center;margin-top: 5px"><a href="https://www.jun82.com/?uagt=bongda88&path=signup"><img src="assets/button1.gif"></a></div>
            <div style="width: 50%; text-align: center;margin-top: 5px"><a href="https://www.7897890.vip/?uagt=bongda88&path=signup"><img src="assets/button2.gif"></a></div>
            <div style="width: 50%; text-align: center;margin-top: 5px"><a href="https://chuyendongsanco.net"><img src="assets/button3.gif"></a></div>
            <div style="width: 50%; text-align: center;margin-top: 5px"><a href="https://chuyendongsanco.net"><img src="assets/button4.gif"></a></div>
        </div>
    </div>
    <div class="hbar2">
        <a href="#"><img src="/assets/logo.png" class="hbar3"></a>
    </div>
</div>
    