<div id="divvideo">
    <div id='div-con2'><div class="div1">VIDEO <span style="color: limegreen;">HIGHLIGHT</span></div></div>
    <div id='div-con'>
        <video id="videoGT" controls src="https://cdn.jun23.com/Upload/Sequence 01_1.mp4" poster ="assets/poster.png"></video>
        <div class="divttvd">
            <span style="font-size: 28px;">Cùng Jun88media cổ vũ đội tuyển VIỆT NAM giữ vững ngôi vương AFFSUZUKI CUP 2020</span>
            <span style="font-size: 20px;"><br>Cùng Jun88 VIỆT NAM giữ vững ngôi vương AFFSUZUKI CUP 2020</span>
        </div>
    </div>
    
</div>
