<div id='divvideo' >
    <div id='div-con' >
        <div class="divtt">
            <div><img src="/assets/logo.png" id="imglogo"></div>
        
        <p id="title">Chuyển Động Sân Cỏ là công ty truyền thông giải trí uy tín chuyên nghiệp tại Việt Nam.
             Nơi cập nhật các trận bóng đá lớn và chuyên nghiệp trên toàn thế giới, 
             Nơi hội tụ các niềm đam mê bóng đá. Công ty tự hào rằng là một đơn vị doanh nghiệp
              trẻ nhưng sự phát triển của công ty có thể sánh với các diễn đàn thể thao lớn của Việt Nam.
        </p>
        <div id="divlogo">
            <h2 id="h2tt">ĐỐI TÁC TÀI TRỢ</h2>
            <div style="display: flex;">
                <img src="/assets/logo789.png" style="margin-right: 10%;">
                <img src="/assets/logojun88.png">
            </div>
            <div style="display: flex;">
                <img src="/assets/logof8bet.png" style="margin-right: 10%;;">
                <img src="/assets/logoshbet.png" >
            </div>
        </div>
    </div>
    <div class="divp" ><p>Copyright © Chuyển Động Sân Cỏ Reserved</p></div>
    </div>
</div>





