.background{
    width: 100%;
    min-height: 100%;
    background-color: #141417;
    /* background: url("/assets/background.png") no-repeat center center; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Roboto;
}
#div-con{
    margin: 110px auto 0 auto;
    width: 1200px;
}

.div4{
    font-size: 20px;
    color: white;
    display: flex;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    background: #1a1d23;  
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a:hover{
    color: orange;
}
#divnd{
    width: 70%; margin: 10px;
}
#divnd2{
    width: 30%; margin: 10px;
}
#divqc{
    width: 89%; margin-left: 65px;
}
@media screen and (max-width: 768px) {
    #div-con{
        width: 100%;
        margin: 0 auto;
    }
    .div4{
        flex-wrap: wrap;     
    }
    #divnd{
        width: 95%;
        margin-left: 10px;
    }
    #divnd2{
        width: 95%; margin: 10px;
    }
    #divqc{
        width: 89%; margin-left: 15px;
    }
}