<block-ui>
    <div id="qc">
        <a href="https://www.jun82.com/?uagt=bongda88&path=signup">
            <img src="https://cdn.jun23.com/Upload/gif-j88-10f.gif" class="cskh120" style="z-index:1; top: 115px; left: 3px;">
        </a>
        <a href="#">
            <img src="https://cdn.jun23.com/Upload/lh-qc.gif" class="cskh120" style="z-index:1; top: 475px; left: 3px;">
        </a>
        <a href="https://www.7897890.vip/?uagt=bongda88&path=signup">
            <img src="https://cdn.jun23.com/Upload/gif-789bet.gif" class="cskh120" style="z-index:2; top: 115px; right: 3px;">
        </a>
        <a href="#">
            <img src="https://cdn.jun23.com/Upload/lh-qc.gif" class="cskh120" style="z-index:2; top: 475px; right: 3px;">
        </a>
    </div>
<div class="background">
    <app-header></app-header>
    <div id="divvideo">
        <div id='div-con2'>
            <div class="div1">TRỰC TIẾP TRẬN ĐẤU 
                <span style="color: limegreen;">{{match.teams.home.name.toUpperCase()}}
                <span style="color: orange;">VS </span>{{match.teams.away.name.toUpperCase()}}</span>
            </div>
        </div>

        <div id='div-con'>
            <div id="divvdct">
                <!-- <app-flv-player *ngIf="isFlvSupported" [stream]="stream"></app-flv-player>
                <ng-template *ngIf="!isFlvSupported">
                    <app-hls-player *ngIf="liveStreamSources !== ''" [options]="{
                        autoplay: true,
                        controls: true,
                        liveui: true,
                        responsive: true
                        }" [sources]="[{src:liveStreamSources, type:'application/x-mpegURL'}]">
                    </app-hls-player>
                    <app-hls-player *ngIf="liveStreamSources === ''" [options]="{
                        autoplay: true,
                        controls: true,
                        liveui: true,
                        responsive: true}" src="/assets/videos/introduceJun88.mp4" type="video/mp4">
                    </app-hls-player>
                </ng-template> -->
            </div>
            
            <!-- <div id="comments">
                <app-chat [roomId]="roomId"></app-chat>
            </div> -->
        </div>            
    </div>

    <div id="div-con3" style="margin: 20px auto 0 auto;">
        <div style="display: flex; width: 100%; height: 300px; background: url('/assets/images/score-detail-header.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;">
            <div class="divimg">
                <img src={{match.teams.home.logo}} style="width: 55%;" alt={{match.teams.home.name}}>
                <h3 style="color: white;">{{match.teams.home.name}}</h3>
            </div>
            <div class="divcontent">
                <p style="color: limegreen;">Trực tiếp bóng đá {{match.league.country}} - {{match.league.name}}</p>
                <p style="color: white;">{{getDate(match.fixture.timestamp)}}</p>
                <h2 style="color: white;">{{match.goals.home}} - {{match.goals.away}}</h2>
                <p style="color: limegreen;">{{match.fixture.status.long}} <span
                        *ngIf="match.fixture.status.elapsed">({{match.fixture.status.elapsed}}')</span></p>
            </div>           
            <div class="divimg">
                <img src={{match.teams.away.logo}} style="width: 55%;" alt={{match.teams.away.name}}>
                <h3 style="color: white;">{{match.teams.away.name}}</h3>
            </div>            
        </div>    
    </div>

    <div id="div-con3" style="padding-bottom: 20px;">
        <div style="width: 100%;background: #1a1d23;padding-bottom: 20px;">
            <h3 style="color: white; margin: 0; padding: 20px;">DIỄN BIẾN TRẬN ĐẤU</h3>
            <div id="divtable">
                <table id="customers2">
                    <tbody>
                        <tr *ngFor="let event of match.events">
                            <td style="width: 40%;">
                                <div *ngIf="event.team.id === match.teams.home.id">
                                    <div *ngIf="event.detail == 'Yellow Card'">
                                        <div style="height: 20px; display: flex;"> 
                                            <img  src="/assets/images/yellow-card.png" style="width:20px;height: 20px;margin-left: 40%;" alt="yellow-card">  
                                            <p style="margin: 2px 10px;">{{event.player.name}}</p>
                                        </div> 
                                    </div>
                                    <div *ngIf="event.detail == 'Red Card'">
                                        <div style="height: 20px; display: flex;">
                                            <img  src="/assets/images/red-card.png" style="width:20px;height: 20px;margin-left: 40%;" alt="red-card">  
                                            <p style="margin: 2px 10px;">{{event.player.name}}</p>
                                        </div> 
                                    </div>
                                    <div style="display: flex; margin-left: 40%;" *ngIf="event.type == 'subst'">
                                        <div style="height: 20px; display: flex;">
                                            <img  src="/assets/images/icon-into.png" style="width:20px;height: 20px;" alt="">
                                            <p style="margin: 2px 10px;">{{event.player.name}}</p>
                                        </div>&nbsp;
                                        <div style="height: 20px; display: flex;">
                                            <img  src="/assets/images/icon-out.png" style="width:20px;height: 20px;" alt="">
                                            <p style="margin: 2px 10px;">{{event.assist.name}}</p>
                                        </div>
                                        
                                    </div>
                                    <div *ngIf="event.type == 'Goal'">
                                        <div style="height: 20px; display: flex;">
                                            <img  src="/assets/images/icon-ball.png" style="width:20px;height: 20px;margin-left: 40%;" alt="goal">
                                            <p style="margin: 2px 10px;">{{event.player.name}}</p>
                                        </div> 
                                    </div>
                                    <div *ngIf="event.type == 'Var'">
                                        <div style="height: 20px; display: flex;">
                                            <img  src="/assets/images/icon-var.png" style="width:20px;height: 20px;margin-left: 40%;" alt="var">  
                                            <p style="margin: 2px 10px;">{{event.detail}}</p>           
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{event.time.elapsed}}'
                            </td>
                            <td style="width: 40%;">
                                <div *ngIf="event.team.id === match.teams.away.id">
                                    <div *ngIf="event.detail == 'Yellow Card'">
                                        <div style="height: 20px; display: flex;">
                                            <img  src="/assets/images/yellow-card.png" style="width:20px;height: 20px;margin-left: 20%;" alt="yellow-card">
                                            <p style="margin: 2px 10px;">{{event.player.name}}</p>
                                        </div>
                                    </div>
                                    <div *ngIf="event.detail == 'Red Card'">
                                        <div style="height: 20px; display: flex;">         
                                            <img  src="/assets/images/red-card.png" style="width:20px;height: 20px;margin-left: 20%;" alt="red-card">                                  
                                            <p style="margin: 2px 10px;">{{event.player.name}}</p>
                                        </div>
                                    </div>
                                    <div style="display: flex;margin-left: 20%;" *ngIf="event.type == 'subst'">
                                        <div style="height: 20px; display: flex;">
                                            <img  src="/assets/images/icon-into.png" style="width:20px;height: 20px;" alt="">
                                            <p style="margin: 2px 10px;">{{event.player.name}}</p>
                                        </div>&nbsp;
                                        <div style="height: 20px; display: flex;">
                                            <img  src="/assets/images/icon-out.png" style="width:20px;height: 20px;" alt="">
                                            <p style="margin: 2px 10px;">{{event.assist.name}}</p>
                                        </div>
                                    </div>
                                    <div *ngIf="event.type == 'Goal'">
                                        <div style="height: 20px; display: flex;">
                                            <img  src="/assets/images/icon-ball.png" style="width:20px;height: 20px;margin-left: 20%;" alt="goal">
                                            <p style="margin: 2px 10px;">{{event.player.name}}</p>
                                        </div> 
                                    </div>
                                    <div *ngIf="event.type == 'Var'">
                                        <div style="height: 20px; display: flex;">            
                                            <img  src="/assets/images/icon-var.png" style="width:20px;height: 20px;margin-left: 20%;" alt="var">  
                                            <p style="margin: 2px 10px;">{{event.detail}}</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            









            <h3 style="color: white;margin: 0; padding: 20px;">THÀNH TÍCH <span style="color: limegreen;">ĐỐI ĐẦU GẦN ĐÂY</span></h3>
            <div id="divtable">
                <table id="customers">
                    <thead>
                        <tr class="text-center">
                            <th>Thời gian</th>
                            <th class="league">Giải đấu</th>
                            <th>Chủ nhà</th>
                            <th></th>
                            <th>Kết quả</th>
                            <th></th>
                            <th>Đội khách</th>
                            <th>Hiệp 1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of h2h">
                            <td>{{getDate(s.fixture.timestamp)}}</td>
                            <td>
                                <div style="height: 60px; display: flex;">
                                    <img  src={{s.league.logo}} style="width:60px" alt={{s.league.country}}>
                                    <p style="margin: 20px;">{{s.league.name}}</p>
                                </div> 
                            </td>
                            <td>{{s.teams.home.name}}</td>
                            <td >
                                <img src={{s.teams.home.logo}} style="width:60px" alt={{s.teams.home.name}}>
                            </td>
                            <td >
                                <h5>{{s.goals.home}}-{{s.goals.away}}</h5>
                            </td>
                            <td >
                                <img style="width:60px" src={{s.teams.away.logo}} alt="">
                            </td>
                            <td>
                                {{s.teams.away.name}}
                            </td>
                            <td class="score">
                                <h5>{{s.score.halftime.home}}-{{s.score.halftime.away}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
           
           
           
           
           
            <h3 style="color: white;margin: 0; padding: 20px;">KẾT QUẢ GẦN ĐÂY CỦA <span style="color: limegreen;"
                >{{match.teams.home.name.toUpperCase()}}</span></h3>
                <div id="divtable">
                    <table id="customers">
                        <thead>
                            <tr>
                                <th>Thời gian</th>
                                <th>Giải đấu</th>
                                <th>Chủ nhà</th>
                                <th></th>
                                <th>Kết quả</th>
                                <th></th>
                                <th>Đội khách</th>
                                <th>Hiệp 1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of homeFixtures">
                                <td>{{getDate(s.fixture.timestamp)}}</td>
                                <td >
                                    <div style="height: 60px; display: flex;">
                                        <img  src={{s.league.logo}} style="width:60px" alt={{s.league.country}}>
                                        <p style="margin: 20px;">{{s.league.name}}</p>
                                    </div>
                                </td>
                                <td>{{s.teams.home.name}}</td>
                                <td >
                                    <img  src={{s.teams.home.logo}} style="width:60px" alt={{s.teams.home.name}}>
                                </td>
                                <td >
                                    <h5>{{s.goals.home}}-{{s.goals.away}}</h5>
                                </td>
                                <td >
                                    <img src={{s.teams.away.logo}} style="width:60px" alt="">
                                </td>
                                <td>
                                    {{s.teams.away.name}}
                                </td>
                                <td >
                                    <h5>{{s.score.halftime.home}}-{{s.score.halftime.away}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                






            <h3 style="color: white;margin: 0; padding: 20px;">KẾT QUẢ GẦN ĐÂY CỦA <span style="color: limegreen;"
                >{{match.teams.away.name.toUpperCase()}}</span></h3>  
                <div id="divtable">
                    <table id="customers">
                        <thead>
                            <tr>
                                <th>Thời gian</th>
                                <th>Giải đấu</th>
                                <th>Chủ nhà</th>
                                <th></th>
                                <th>Kết quả</th>
                                <th></th>
                                <th>Đội khách</th>
                                <th>Hiệp 1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of awayFixtures">
                                <td>{{getDate(s.fixture.timestamp)}}</td>
                                <td >
                                    <div style="height: 60px; display: flex;">
                                        <img  src={{s.league.logo}} style="width:60px" alt={{s.league.country}}>
                                        <p style="margin: 20px;">{{s.league.name}}</p>
                                    </div>
                                </td>
                                <td>{{s.teams.home.name}}</td>
                                <td >
                                    <img src={{s.teams.home.logo}} style="width:60px" alt={{s.teams.home.name}}>
                                </td>
                                <td >
                                    <h5>{{s.goals.home}}-{{s.goals.away}}</h5>
                                </td>
                                <td >
                                    <img  src={{s.teams.away.logo}} style="width:60px" alt="">
                                </td>
                                <td>
                                    {{s.teams.away.name}}
                                </td>
                                <td >
                                    <h5>{{s.score.halftime.home}}-{{s.score.halftime.away}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                </div>   
        </div>
    </div>   

    <app-footer></app-footer>   
</div>
</block-ui>