<block-ui>
    <div class="background">
        <app-header></app-header>
        <app-banner></app-banner>
        <div id="div-con"> 
            <div class="div1" >SOI KÈO <span style="color: limegreen;">BÓNG ĐÁ HÔM NAY</span></div>
            <div class="div4">
                <div class="wrap3" *ngFor="let prediction of predictions.slice(0, predictions.length) | paginate: { itemsPerPage: 12, currentPage: page, totalItems: totalRecords }">
                    <a href="/soi-keo/{{prediction.slug}}"><img src={{prediction.image}} style="width: 100%; height: 220px;"></a> 
                    <div style="margin-left: 10px;"><a href="/soi-keo/{{prediction.slug}}" class="titlea">{{prediction.title}}</a>  </div>           
                </div> 
                <div class="div2"><pagination-controls (pageChange)="onPageChange(page = $event)"[autoHide]="true" [responsive]="true" [maxSize]="5" screenReaderPageLabel="page" class="pagi"></pagination-controls></div>
            </div>
            
        </div>
        <app-footer></app-footer>
    </div>
</block-ui>
