<div id="qc">
    <a href="https://www.jun82.com/?uagt=bongda88&path=signup">
        <img src="https://cdn.jun23.com/Upload/gif-j88-10f.gif" class="cskh120" style="position: fixed;z-index:1; top: 115px; left: 3px;">
    </a>
    <a href="#">
        <img src="https://cdn.jun23.com/Upload/lh-qc.gif" class="cskh120" style="position: fixed;z-index:1; top: 475px; left: 3px;">
    </a>
    <a href="https://www.7897890.vip/?uagt=bongda88&path=signup">
        <img src="https://cdn.jun23.com/Upload/gif-789bet.gif" class="cskh120" style="position: fixed;z-index:2; top: 115px; right: 3px;">
    </a>
    <a href="#">
        <img src="https://cdn.jun23.com/Upload/lh-qc.gif" class="cskh120" style="position: fixed;z-index:2; top: 475px; right: 3px;">
    </a>
</div>
<div id='divvideo'>
    <div id='div-con'>
        <div class="div2">
            <a *ngFor="let banner of topBanners" href="{{banner.link}}" target="_blank">
                <img class="w-100" src="https://cdn.jun23.com/{{banner.imageUrl}}" alt="banner" />
            </a>              
        </div>
    </div>
</div>

