p{
    font-family: Roboto;
}
.background{
    width: 100%;
    min-height: 100%;
    background-color: #141417;
    /* background: url("/assets/background.png") no-repeat center center; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
#div-con{
    margin: 110px auto;
    width: 1200px;
}
.div4{
    color: white;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    background: rgba(19, 18, 18, 0.9);  
}
.div4 p{
    font-size: 20px;
}
a{
    color: dodgerblue;
    text-decoration: none;
}
img{
    width: 800px; margin-left: 170px;
}
@media screen and (max-width: 768px) {
    #div-con{
        width: 100%;
        margin: 0 auto;
    }
    img{
        width: 98%; margin-left: 5px;
    }
    h1{
        font-size: 27px;
    }
}